In [1]:
import tsdb
import pandas as pd

In [2]:
data = tsdb.load('physionet_2012')

2025-05-09 19:22:01 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2025-05-09 19:22:01 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2025-05-09 19:22:01 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2025-05-09 19:22:01 [INFO]: Loaded successfully!

In [3]:
df = pd.DataFrame(data['set-a'])

In [4]:
df

Parameter,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,Cholesterol,Creatinine,DiasABP,...,SaO2,SysABP,Temp,Time,TroponinI,TroponinT,Urine,WBC,Weight,pH
0,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,35.35,0,NaN,NaN,480.0,NaN,-1.0,NaN
1,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,30.0,NaN,NaN,NaN
2,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2,NaN,NaN,170.0,NaN,NaN,NaN
3,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.80,3,NaN,NaN,60.0,NaN,NaN,NaN
4,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,NaN,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,52.0,...,98.0,112.0,37.70,43,NaN,NaN,25.0,NaN,87.3,7.34
43,NaN,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,49.0,...,NaN,110.0,37.60,44,NaN,NaN,25.0,NaN,87.3,NaN
44,NaN,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,50.0,...,NaN,112.0,NaN,45,NaN,NaN,23.0,NaN,87.3,7.31
45,NaN,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,54.0,...,NaN,121.0,37.30,46,NaN,NaN,40.0,NaN,87.3,NaN
46,NaN,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,58.0,...,NaN,128.0,NaN,47,NaN,NaN,30.0,NaN,87.3,NaN